@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/woff2/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/woff2/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/woff2/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/woff2/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

code,
pre {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Fira Code', 'Fira Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-variant-ligatures: normal;
  font-feature-settings: 'calt' 1;
  text-rendering: optimizeLegibility;
}

pre {
  margin: 2.25em -1rem;
  padding: 1rem;
  overflow: auto;
  border-radius: 0.3em;
}

@media screen and (max-width: 700px) {
  pre {
    border-radius: 0;
  }
}

:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  background: rgba(255, 229, 100, 0.2) !important;
  text-shadow: none;
  color: #1a1a1a;
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0px !important;
}
