li {
  margin-bottom: 0;
}

.box {
  padding: 1.5rem;
  position: relative;
  border-radius: 4px;
  background: #fff;
}

.box:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  z-index: -1;
}

.iframe {
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}

a.anchor {
  box-shadow: none;
}

.anchor.before {
  padding-right: 16px;
  left: 0;
}

twitter-widget {
  margin: 2.25em auto !important;
}

p > img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  margin: 2.25em auto !important;
}

#gatsby-focus-wrapper > div {
  padding: 0 1rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38%;
}

.socials img {
  width: 26px;
  max-width: 26px;
  max-height: 26px;
  margin: 0;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 640px) {
  .box {
    padding: 1rem;
  }

  .bio {
    flex-direction: column;
  }

  .post-nav ul {
    margin: 0;
  }

  .projects ul {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .socials {
    margin-top: 12px;
    justify-content: space-around;
    width: 100%;
  }

  .avatar {
    margin: 0 auto;
    margin-bottom: 12px;
  }

  blockquote {
    margin-left: 0;
  }
}
