.container {
  padding: 10px 40px;
  position: relative;
}

.container:first-child {
  padding-top: 0;
}

.container::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  background-color: #000000;
  top: calc(50% - 6px);
  border-radius: 50%;
}

.container::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 50%;
  left: 6px;
  background-color: #000000;
}

.container:last-child::before {
  display: none;
}

.content {
  background-color: white;
  position: relative;
}

.content > * {
  margin: 0;
}

.content h3 {
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

.position {
  font-size: 0.9rem;
  font-weight: 200;
}

.partial {
  position: relative;
  overflow: hidden;
}

.partial::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 1;
}

button {
  margin-top: 24px;
  background-color: #f6f6f6;
  border: none;
  padding: 6px 12px;
  font-size: 1rem;
  font-family: '"Public Sans"', sans-serif;
  cursor: pointer;
  border-radius: 4px;
}
