name: Build & Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js v20
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: yarn --frozen-lock
      - name: Install Playwright Browsers
        run: yarn playwright install chromium --with-deps
      - run: yarn build

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js v20
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: yarn --frozen-lock
      - name: Install Playwright Browsers
        run: yarn playwright install chromium --with-deps
      - run: yarn test:e2e:ci

  deploy:
    permissions:
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    needs: [build, e2e]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js v20
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: yarn --frozen-lock
      - name: Install Playwright Browsers
        run: yarn playwright install chromium --with-deps
      - run: yarn build
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          command: pages deploy public --project-name=blog
